data/
*.csv
*.tsv
*.h5
*.pkl
*.joblib
*.ckpt
*.pt
*.pth
notebooks/.ipynb_checkpoints/
notebooks/draft.ipynb
wandb/
model_checkpoints/
config/base_config.yaml
outputs/

__pycache__/
*.py[cod]
*.so
.env
.venv/
env/
venv/
*.egg-info/
.DS_Store
.idea/
.vscode/
archives/