data/
*.csv
*.tsv
*.h5
*.pkl
*.joblib
*.ckpt
*.pt
*.pth
notebooks/.ipynb_checkpoints/
wandb/
model_checkpoints/

__pycache__/
*.py[cod]
*.so
.env*
.venv/
env/
venv/
*.egg-info/
.DS_Store
.idea/
.vscode/
archives/